{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}彩票系统{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
</div>
 <div class="col-md-4" id="formDiv">
    {{ wtf.quick_form(form) }}
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
 <br/>
</div>

<div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>彩票名称</th>
          <th>相同期数</th>
          <th>是否检查顺序</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for info in alarm_info %}
        <tr class="{% if info["is_start"] %}{% else %}warning{% endif %}" >
           <td></td>
          <td>{{ info['lottery_name'] }}</td>
          <td>{{ info['same_num'] }}</td>
          <td>{{ info['is_order'] }}</td>
            {% if info["is_start"] %}
           <td>
            <a class="btn btn-danger" href="{{ url_for('auth.updata_rule',username=current_user.username,
                    data=info['id']
                    , type='forbidden' ) }}">
            禁用
            </a>
            </td>
            {% else %}
            <td>
             <a class="btn btn-success" href="{{ url_for('auth.updata_rule',username=current_user.username, data=info['id'], type='start' ) }}">
            启用
            </a>
            </td>
            {% endif %}
           <td>
            <a class="btn btn-danger" href="{{ url_for('auth.updata_rule',username=current_user.username, data=info['id'], type='delete' ) }}">
            删除
            </a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
    <br/>
    <div>
        {% for name in lottery_name_list %}
        <div class="col-md-3"><a href="#" onclick="addName(this)">{{ name }}</a></div>
        {% endfor %}
    </div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
function addName(ths) {
    lotteryName = $(ths).text();
    $('#lottery_name').val(lotteryName);
}


</script>


{% endblock %}







